.coin-logo{
 width: 40px;
 height: auto;
}
.table{
    margin-top: 25px;
    border-radius: 20px;
}
.a{
    border-radius: 20px;
}
/* .coin-details{
    border-radius: 12px;
    margin: 0.4rem;
    padding: 0.5rem;
} */