*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color: bisque;
}
.wrapper{
  background-color: rgba(188, 135, 135, 0.082);
  height: calc(100vh - 96px);
  
}
.container{
  margin-top: 10px;
}