*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}
body{
  background-color: bisque;
}
.wrapper{
  background-color: rgba(188, 135, 135, 0.082);
  min-height: calc(100vh - 96px);
  
}
.container{
  margin-top: 7px;
  
}
.about-img{
  width: 350px;
  height: 350px;
}
.custom-bg{
  background-color: #f9b761;
}
